openai==1.14.0
openpyxl==3.1.2
pandas==2.0.3
Pillow==9.5.0
plotly==5.15.0
Requests==2.31.0
streamlit==1.33.0
numpy
matplotlib
fpdf
kaleido
reportlab
streamlit-navigation-bar==3.1.2
streamlit_extras
google.auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
sendgrid
folium
streamlit-folium
geopy
